<div class="welcome">
  <h2>Welcome to the 5C Textbook Exchange </h2>
  <br><hr><br>
  <%= link_to "Go to Textbooks", textbooks_path, class: "button btn btn-lg btn-block btn-default btn-primary-outline" %>
</div>
